@font-face {
  font-family: 'JosefinSans';
  src: url('app/fonts/JosefinSans.eot');
  src: url('app/fonts/JosefinSans.eot?#iefix') format('embedded-opentype'),
     url('app/fonts/JosefinSans.ttf') format('truetype'),
     url('app/fonts/JosefinSans.svg#JosefinSans') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'JosefinSansLight';
  src: url('app/fonts/JosefinSansLight.eot');
  src: url('app/fonts/JosefinSansLight.eot?#iefix') format('embedded-opentype'),
     url('app/fonts/JosefinSansLight.ttf') format('truetype'),
     url('app/fonts/JosefinSansLight.svg#JosefinSansLight') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('app/fonts/LatoBold.eot');
  src: url('app/fonts/LatoBold.eot?#iefix') format('embedded-opentype'),
     url('app/fonts/LatoBold.ttf') format('truetype'),
     url('app/fonts/LatoBold.svg#LatoBold') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LatoLight';
  src: url('app/fonts/LatoLight.eot');
  src: url('app/fonts/LatoLight.eot?#iefix') format('embedded-opentype'),
     url('app/fonts/LatoLight.ttf') format('truetype'),
     url('app/fonts/LatoLight.svg#LatoLight') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LatoRegular';
  src: url('app/fonts/LatoRegular.eot');
  src: url('app/fonts/LatoRegular.eot?#iefix') format('embedded-opentype'),
     url('app/fonts/LatoRegular.ttf') format('truetype'),
     url('app/fonts/LatoRegular.svg#LatoRegular') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RalewayRegular';
  src: url('RalewayRegular.eot');
  src: url('RalewayRegular.eot?#iefix') format('embedded-opentype'),
     url('RalewayRegular.ttf') format('truetype'),
     url('RalewayRegular.svg#RalewayRegular') format('svg');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RalewaySemiBold';
  src: url('app/fonts/RalewaySemiBold.eot');
  src: url('app/fonts/RalewaySemiBold.eot?#iefix') format('embedded-opentype'),
     url('app/fonts/RalewaySemiBold.ttf') format('truetype'),
     url('app/fonts/RalewaySemiBold.svg#RalewaySemiBold') format('svg');
  font-style: normal;
  font-weight: normal;
}
