@mixin h1 {
  text-transform: uppercase;
  font: bold 35px $rsb, sans-serif;
}

@mixin h2 {
  margin-left: 22px;
  text-transform: capitalize;
  font: bold 26px $lb;
  color: $w;
}

@mixin conth2 {
  margin-bottom: 45px;
  text-transform: capitalize;
  font: 24px $lr, sans-serif;
  color: $pers;
}
