//FONTS START
$js: 'JosefinSans';
$jsl: 'JosefinSansLight';
$lb: 'LatoBold';
$ll: 'LatoLight';
$lr: 'LatoRegular';
$rr: 'RalewayRegular';
$rsb: 'RalewaySemiBold';
//FONTS END

$w: #fff;
$bd: #f8f9fb;
$nav: #0e82f9;
$inf: #dcdddf;
$h1: #232323;
$h2: #282828;
$follow: #c2c2c2;
$pers: #4a4a4a;
$bdeduc: #e6e7e8;
$date: #e2e2e2;
$h4: #515151;
$black: #000;
$p: #767676;
$line: #414042;
$lang: #e9e9e9;
$inpbd: #d5d5d5;
