@font-face {
  font-family: 'JosefinSans';
  src: url("app/fonts/JosefinSans.eot");
  src: url("app/fonts/JosefinSans.eot?#iefix") format("embedded-opentype"), url("app/fonts/JosefinSans.ttf") format("truetype"), url("app/fonts/JosefinSans.svg#JosefinSans") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'JosefinSansLight';
  src: url("app/fonts/JosefinSansLight.eot");
  src: url("app/fonts/JosefinSansLight.eot?#iefix") format("embedded-opentype"), url("app/fonts/JosefinSansLight.ttf") format("truetype"), url("app/fonts/JosefinSansLight.svg#JosefinSansLight") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url("app/fonts/LatoBold.eot");
  src: url("app/fonts/LatoBold.eot?#iefix") format("embedded-opentype"), url("app/fonts/LatoBold.ttf") format("truetype"), url("app/fonts/LatoBold.svg#LatoBold") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LatoLight';
  src: url("app/fonts/LatoLight.eot");
  src: url("app/fonts/LatoLight.eot?#iefix") format("embedded-opentype"), url("app/fonts/LatoLight.ttf") format("truetype"), url("app/fonts/LatoLight.svg#LatoLight") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LatoRegular';
  src: url("app/fonts/LatoRegular.eot");
  src: url("app/fonts/LatoRegular.eot?#iefix") format("embedded-opentype"), url("app/fonts/LatoRegular.ttf") format("truetype"), url("app/fonts/LatoRegular.svg#LatoRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RalewayRegular';
  src: url("RalewayRegular.eot");
  src: url("RalewayRegular.eot?#iefix") format("embedded-opentype"), url("RalewayRegular.ttf") format("truetype"), url("RalewayRegular.svg#RalewayRegular") format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'RalewaySemiBold';
  src: url("app/fonts/RalewaySemiBold.eot");
  src: url("app/fonts/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("app/fonts/RalewaySemiBold.ttf") format("truetype"), url("app/fonts/RalewaySemiBold.svg#RalewaySemiBold") format("svg");
  font-style: normal;
  font-weight: normal;
}

/*RESET STYLE BEGINNER*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.grid {
  display: -webkit-grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -o-grid;
  display: grid;
}

ol, ul {
  list-style: none;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a, a:hover {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.overflow {
  overflow: hidden;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.none {
  display: none;
}

.grid {
  display: grid;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

/*RESET STYLE END*/
/*HEADER START*/
header {
  position: relative;
  padding-top: 263px;
  background: url(../img/bg-header.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
}

header section.descr-header h1 {
  font: 90px "JosefinSans", sans-serif;
}

header section.descr-header h2 {
  margin: 25px 0 43px 0;
  font: 45px "JosefinSansLight", sans-serif;
}

header section.descr-header a {
  padding: 18px 37px;
  text-transform: uppercase;
  font-size: 18px;
  color: inherit;
  border: 1px solid #f8f9fb;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  -webkit-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}

header section.descr-header a:hover {
  background: #0e82f9;
  border: none;
}

header label {
  position: absolute;
  left: 20%;
  bottom: 20%;
  display: inline-block;
  width: 53px;
  height: 52px;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

header label span {
  display: block;
  width: 30px;
  height: 4px;
  background: #fff;
}

header label span:nth-child(2) {
  margin: 7px 0;
}

header input#input {
  display: none;
}

header input[type="checkbox"]:checked ~ section.menu {
  opacity: 1;
}

header section.menu {
  opacity: 0;
  padding: 38px 0 31px 0;
  margin-top: 363px;
  background: #0e82f9;
  overflow: hidden;
  -webkit-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

header section.menu nav a {
  display: block;
  margin-right: 34px;
  padding-bottom: 12px;
  text-transform: capitalize;
  font: bold 16px "RalewaySemiBold", sans-serif;
  color: inherit;
  -webkit-transition: border-bottom 0.9s ease;
  -o-transition: border-bottom 0.9s ease;
  transition: border-bottom 0.9s ease;
}

header section.menu nav a:hover {
  border-bottom: 1px solid #fff;
}

header section.menu nav a:last-child {
  margin-right: 0;
}

/*HEADER END*/
/*MAIN START*/
/*SECTION INFORMATION START*/
section#information {
  padding: 109px 0 145px 0;
  background: #f8f9fb;
}

section#information section.designer-descr img {
  display: inline-block;
  -webkit-box-shadow: 0 0 10px #232323;
          box-shadow: 0 0 10px #232323;
}

section#information section.designer-descr div.jsf-doe {
  width: 64%;
  display: inline-block;
  margin: 235px 0 30px 0;
  padding: 56px 0 42px 30px;
  background: #fff;
  border: 1px solid #dcdddf;
  -webkit-box-shadow: 0 0 10px #dcdddf;
          box-shadow: 0 0 10px #dcdddf;
}

section#information section.designer-descr div.jsf-doe h1 {
  margin-bottom: 20px;
  text-transform: capitalize;
  font: bold 35px "LatoBold", sans-serif;
  color: #232323;
}

section#information section.designer-descr div.jsf-doe h2 {
  font: 22px "LatoLight", sans-serif;
  color: #282828;
}

section#information section.designer-descr div.social-inf {
  padding-left: 33px;
}

section#information section.designer-descr div.social-inf p {
  margin-right: 34px;
  text-transform: capitalize;
  font: 30px "RalewayRegular", sans-serif;
  color: #c2c2c2;
}

section#information section.designer-descr div.social-inf a {
  display: block;
  width: 26px;
  height: 26px;
  margin-right: 7px;
  background: url(../img/social-inf-icons.png) no-repeat;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

section#information section.designer-descr div.social-inf a:last-child {
  margin-right: 0;
}

section#information section.designer-descr div.social-inf a.tw {
  background-position: -28px 0;
}

section#information section.designer-descr div.social-inf a.ins {
  background-position: -58px 0;
}

section#information section.designer-descr div.social-inf a.be {
  background-position: -88px 0;
}

section#information section.designer-descr div.social-inf a.lin {
  background-position: -115px 0;
}

section#information section.designer-inf {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 81px;
}

section#information section.designer-inf h1 {
  margin-bottom: 67px;
  text-transform: uppercase;
  font: bold 35px "RalewaySemiBold", sans-serif;
}

section#information section.designer-inf section.personal ul li {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 49px;
  font: 18px, sans-serif;
  color: #4a4a4a;
}

section#information section.designer-inf section.personal ul li:last-child {
  margin-bottom: 0;
}

section#information section.designer-inf section.personal ul li p {
  font-weight: bold;
  text-transform: capitalize;
  font-family: "LatoBold";
}

section#information section.designer-inf section.personal ul li span {
  font-family: "LatoRegular";
}

section#information section.designer-inf section.personal ul li span.name {
  margin-left: 100px;
}

section#information section.designer-inf section.personal ul li span.date {
  margin-left: 31px;
}

section#information section.designer-inf section.personal ul li span.address {
  margin-left: 82px;
}

section#information section.designer-inf section.personal ul li span.phone {
  margin-left: 95px;
}

section#information section.designer-inf section.personal ul li span.email {
  margin-left: 100px;
}

section#information section.designer-inf section.biography {
  -webkit-flex-basis: 466px;
      -ms-flex-preferred-size: 466px;
          flex-basis: 466px;
}

section#information section.designer-inf section.biography h1 {
  margin-bottom: 50px;
}

section#information section.designer-inf section.biography p {
  font: 20px/40px "LatoRegular";
  color: #4a4a4a;
}

section#information section.designer-inf section.biography a {
  display: block;
  margin-top: 94px;
  font: 18px "RalewaySemiBold", sans-serif;
  color: #0e82f9;
}

section#information section.designer-inf section.biography a i {
  display: inline-block;
  margin-left: 15px;
  width: 14px;
  height: 17px;
  background: url(../img/social-inf-icons.png) no-repeat -143px 0;
  vertical-align: bottom;
}

/*SECTION INFORMATION END*/
/*SECTION EDUCATION START*/
section#education {
  padding: 150px 0;
  border-top: 1px solid #e6e7e8;
  border-bottom: 1px solid #e6e7e8;
}

section#education h1 {
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;
  font: bold 35px "RalewaySemiBold", sans-serif;
}

section.main-education {
  position: relative;
  -webkit-box-shadow: 0 0 10px #e2e2e2;
          box-shadow: 0 0 10px #e2e2e2;
}

section.main-education div.left-date {
  display: inline-block;
  padding-top: 30px;
  height: 257px;
  -webkit-flex-basis: 98px;
      -ms-flex-preferred-size: 98px;
          flex-basis: 98px;
  background: #0e82f9;
}

section.main-education div.left-date p {
  width: 126%;
  display: inline-block;
  font: 20px "LatoRegular", sans serif;
  color: #fff;
  -webkit-transform-origin: 76% 241%;
      -ms-transform-origin: 76% 241%;
          transform-origin: 76% 241%;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

section.main-education div.left-date span {
  position: absolute;
  top: 67px;
  left: 97px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #0e82f9;
  border-bottom: 10px solid transparent;
}

section.main-education div.main-descr {
  -webkit-flex-basis: 945px;
      -ms-flex-preferred-size: 945px;
          flex-basis: 945px;
  padding: 50px 60px 0  53px;
}

section.main-education div.main-descr h2 {
  text-transform: capitalize;
  font: bold 24px "LatoBold", sans-serif;
  color: #000;
}

section.main-education div.main-descr h4 {
  margin: 13px 0 30px 0;
  text-transform: uppercase;
  font: 16px "LatoRegular", sans-serif;
  color: #515151;
}

section.main-education div.main-descr p {
  font: 14px/21px "LatoRegular", sans-serif;
  color: #767676;
}

section.main-education div.right-date {
  height: 257px;
  -webkit-flex-basis: 98px;
      -ms-flex-preferred-size: 98px;
          flex-basis: 98px;
  background: #e2e2e2;
}

section.middle {
  display: block;
  height: 32px;
  border-right: 98px solid #e2e2e2;
  border-left: 98px solid #e2e2e2;
}

#center {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

p#triangle {
  position: absolute;
  top: 29px;
  right: 65px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #0e82f9;
}

p#data {
  -webkit-transform-origin: 12% 200%;
      -ms-transform-origin: 12% 200%;
          transform-origin: 12% 200%;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

/*SECTION EDUCATION END*/
/*SECTION MY SKILLS START*/
section#my-skills {
  padding: 151px 0;
  background: #f8f9fb;
}

section#my-skills h1 {
  margin-bottom: 51px;
  text-align: center;
  text-transform: uppercase;
  font: bold 35px "RalewaySemiBold", sans-serif;
}

div.prof-personal {
  padding: 61px 0 92px 50px;
  background: #0e82f9;
  color: #fff;
  -webkit-flex-basis: 827px;
      -ms-flex-preferred-size: 827px;
          flex-basis: 827px;
}

div.prof-personal div.personal {
  -webkit-flex-basis: 336px;
      -ms-flex-preferred-size: 336px;
          flex-basis: 336px;
}

div.prof-personal div.professional {
  margin-right: 60px;
}

div.prof-personal div.professional:last-child {
  margin-right: 0;
}

div.prof-personal div.professional div.head i.icon-personal {
  width: 28px !important;
  height: 21px !important;
  background: url(../img/social-inf-icons.png) no-repeat -183px 0 !important;
}

div.prof-personal div.professional div.head i.left-icon {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: inline-block;
  width: 23px;
  height: 27px;
  background: url(../img/social-inf-icons.png) no-repeat -160px 0;
}

div.prof-personal div.professional div.head h2 {
  margin-left: 22px;
  text-transform: capitalize;
  font: bold 26px "LatoBold";
  color: #fff;
}

div.prof-personal div.professional ul.left-skills {
  margin: 40px 0 0 50px;
}

div.prof-personal div.professional ul.left-skills li {
  margin-bottom: 28px;
}

div.prof-personal div.professional ul.left-skills li:last-child {
  margin-bottom: 0;
}

div.prof-personal div.professional ul.left-skills li h4 {
  margin-bottom: 10px;
  font: 16px "LatoRegular", sans-serif;
}

div.prof-personal div.professional ul.left-skills li div.under-h4 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

div.prof-personal div.professional ul.left-skills li div.line {
  height: 6px;
  -webkit-flex-basis: 240px;
      -ms-flex-preferred-size: 240px;
          flex-basis: 240px;
  background: #414042;
}

div.prof-personal div.professional ul.left-skills li div.line span.seventy-five {
  width: 60% !important;
}

div.prof-personal div.professional ul.left-skills li div.line span.fifty-five {
  width: 45% !important;
}

div.prof-personal div.professional ul.left-skills li div.line span.white-line {
  display: inline-block;
  height: 100%;
  width: 80%;
  background: #fff;
}

div.prof-personal div.professional ul.left-skills li div.line span.ball {
  display: inline-block;
  padding: 2px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

div.prof-personal div.professional ul.left-skills li div.line span.ball span {
  display: block;
  width: 10px;
  height: 10px;
  background: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

div.prof-personal div.professional ul.left-skills li p {
  display: inline-block;
  margin-left: 7px;
}

div.languages {
  margin-left: 48px;
}

div.languages article {
  width: 262px;
  padding: 43px 0 38px 0;
  background: #e9e9e9;
}

div.languages article:nth-child(2) {
  margin: 11px 0;
}

div.languages article h2 {
  display: block;
  margin-bottom: 23px;
  text-align: center;
  text-transform: capitalize;
  font: bold 26px "LatoRegular", sans-serif;
  color: #4a4a4a;
}

div.languages article div.stars {
  display: block;
  text-align: center;
}

div.languages article div.stars i {
  font-size: 30px;
  color: #0e82f9;
}

/*SECTION MY SKILLS END*/
/*SECTION PORTFOLIO START*/
section#portfolio {
  padding: 150px 0;
}

section#portfolio h1 {
  text-align: center;
  text-transform: uppercase;
  font: bold 35px "RalewaySemiBold", sans-serif;
}

section#portfolio ul.main-port {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/*SECTION PORTFOLIO END*/
/*MAIN END*/
