// IMPORT BEGINNER
@import "app/import/variables";
@import "app/import/mixin";
@import "app/import/fonts";
// IMPORT END

/*RESET STYLE BEGINNER*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
}

.grid {
  display: -webkit-grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -o-grid;
  display: grid;
}

ol, ul {
list-style: none;
}
ul li {
list-style-type: none;
}

img {
  max-width: 100%;
}

a, a:hover {
text-decoration: none;
//color: #000;
}

html {height: 100%;}

body {
  height: 100%;
  //background-color: #fff;
  //font: 16px $cr;
  //color: #212121;
}

.left {
float: left;
}

.right {
float: right;
}

.overflow {
  overflow: hidden;
}

.clearfix::before,
.clearfix::after {
content: " ";
display: table;
}
.clearfix::after {clear: both;}

.left {float: left;}
.right {float: right;}

.text-right {text-align: right;}
.text-left {text-align: left;}

.none {display: none;}
.grid {display: grid;}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

/*RESET STYLE END*/

/*HEADER START*/
header {
  position: relative;
  padding-top: 263px;
  background: url(../img/bg-header.jpg) no-repeat;
  background-size: cover;
  color: $w;
  section.descr-header {
     h1 {
       font: 90px $js, sans-serif;
     }

     h2 {
       margin: 25px 0 43px 0;
       font: 45px $jsl, sans-serif;
     }

     a {
       padding: 18px 37px;
       text-transform: uppercase;
       font-size: 18px;
       color: inherit;
       border: 1px solid $bd;
       border-radius: 25px;
       transition: background 0.5s ease;
       &:hover {
         background: $nav;
         border: none;
       }
     }
  }

  label {
     position: absolute;
     left: 20%;
     bottom: 20%;
      display: inline-block;
      width: 53px;
      height: 52px;
      padding: 10px;
      cursor: pointer;
      border: 1px solid $w;
      border-radius: 5px;
      span {
       display: block;
       width: 30px;
       height: 4px;
       background: $w;
       &:nth-child(2) {margin: 7px 0;}
      }
    }
    input#input {display: none;}

    input[type="checkbox"]:checked ~ section.menu{opacity: 1;}


  section.menu {
    opacity: 0;
    padding: 38px 0 31px 0;
    margin-top: 363px;
    background: $nav;
    overflow: hidden;
    transition: opacity 0.8s ease;
   nav {
      a {
      display: block;
      margin-right: 34px;
      padding-bottom: 12px;
      text-transform: capitalize;
      font: bold 16px $rsb, sans-serif;
      color: inherit;
      transition: border-bottom 0.9s ease;
      &:hover {border-bottom: 1px solid $w;}
      &:last-child {margin-right: 0;}

    }
   }
  }
}

/*HEADER END*/

/*MAIN START*/

/*SECTION INFORMATION START*/
section#information {
  padding: 109px 0 145px 0;
  background: $bd;
  section.designer-descr {

    img {
      display: inline-block;
      box-shadow: 0 0 10px $h1;
    }

    div.jsf-doe {
     width: 64%;
     display: inline-block;
     margin: 235px 0 30px 0;
     padding: 56px 0 42px 30px;
     background: $w;
     border: 1px solid $inf;
     box-shadow: 0 0 10px $inf;

     h1 {
       margin-bottom: 20px;
       text-transform: capitalize;
       font: bold 35px $lb, sans-serif;
       color: $h1;
     }
     h2 {
      font: 22px $ll, sans-serif;
      color: $h2;
     }
    }
    div.social-inf {
       padding-left: 33px;

      p {
         margin-right: 34px;
        text-transform: capitalize;
        font: 30px $rr, sans-serif;
        color: $follow;
      }
      a {
        display: block;
        width: 26px;
        height: 26px;
        margin-right: 7px;
        background: url(../img/social-inf-icons.png) no-repeat;
        align-self: center;
        &:last-child {margin-right: 0;}
        &.tw {background-position: -28px 0;}
        &.ins {background-position: -58px 0;}
        &.be {background-position: -88px 0;}
        &.lin{background-position: -115px 0;}
      }
    }
  }

  section.designer-inf {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 81px;
    h1 {
      margin-bottom: 67px;
      @include h1;
    }
    section.personal {

      ul {
        li {
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          margin-bottom: 49px;
          font: 18px, sans-serif;
          color: $pers;
          &:last-child{margin-bottom: 0;}
           p {
             font-weight: bold;
             text-transform: capitalize;
             font-family: $lb;

           }
           span {
             font-family: $lr;
             &.name {margin-left: 100px;}
             &.date {margin-left: 31px;}
             &.address {margin-left: 82px;}
             &.phone {margin-left: 95px;}
             &.email {margin-left: 100px;}
           }
        }
      }
    }
    section.biography {
     flex-basis: 466px;
     h1 {
       margin-bottom: 50px;
     }
     p {
       font: 20px/40px $lr;
       color: $pers;
     }
     a {
       display: block;
       margin-top: 94px;
       font: 18px $rsb, sans-serif;
       color: $nav;
       i {
         display: inline-block;
         margin-left: 15px;
         width: 14px;
         height: 17px;
         background: url(../img/social-inf-icons.png) no-repeat -143px 0;
         vertical-align: bottom;
       }
     }
    }
  }
}
/*SECTION INFORMATION END*/

/*SECTION EDUCATION START*/
section#education {
  padding: 150px 0;
  border-top: 1px solid $bdeduc;
  border-bottom: 1px solid $bdeduc;
  h1 {
    margin-bottom: 80px;
    text-align: center;
    @include h1;
  }
}

section.main-education {
  position: relative;
  box-shadow: 0 0 10px $date;
  div.left-date {
    display: inline-block;
    padding-top: 30px;
    height: 257px;
    flex-basis: 98px;
    background: $nav;
      p {
        width: 126%;
        display: inline-block;
        font: 20px $lr, sans serif;
        color: $w;
        transform-origin: 76% 241%;
        transform: rotate(-90deg);
    }
    span {
      position: absolute;
      top: 67px;
      left: 97px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 20px solid $nav;
      border-bottom: 10px solid transparent;
    }
  }
  div.main-descr {
   flex-basis: 945px;
   padding: 50px 60px 0  53px;
   h2 {
     text-transform: capitalize;
     font: bold 24px $lb, sans-serif;
     color: $black;
   }
   h4 {
     margin: 13px 0 30px 0;
     text-transform: uppercase;
     font: 16px $lr, sans-serif;
     color: $h4;
   }
   p {
     font: 14px/21px $lr, sans-serif;
     color: $p;
   }
  }
  div.right-date {
    height: 257px;
    flex-basis: 98px;
    background: $date;
  }
}
section.middle {
  display: block;
  height: 32px;
  border-right: 98px solid $date;
  border-left: 98px solid $date;
}
#center {
  flex-direction: row-reverse;
  text-align: right;
}
p#triangle {
  position: absolute;
  top: 29px;
  right: 65px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid $nav;
}
p#data {
  transform-origin: 12% 200%;
  transform: rotate(90deg);
}
/*SECTION EDUCATION END*/

/*SECTION MY SKILLS START*/
 section#my-skills {
   padding: 151px 0;
   background: $bd;
     h1 {
      margin-bottom: 51px;
     text-align: center;
     @include h1;
   }
 }

 div.prof-personal {
   padding: 61px 0 92px 50px;
   background: $nav;
   color: $w;
   flex-basis: 827px;

   div.personal {flex-basis: 336px;}
   div.professional {
     margin-right: 60px;
     &:last-child{margin-right: 0;}
       div.head {
         i.icon-personal {
           width: 28px!important;
           height: 21px!important;
           background: url(../img/social-inf-icons.png) no-repeat -183px 0!important;
         }
       i.left-icon {
         align-self: center;
         display: inline-block;
         width: 23px;
         height: 27px;
         background: url(../img/social-inf-icons.png) no-repeat -160px 0;
       }
       h2 {
         @include h2;
       }
     }
     ul.left-skills {
       margin: 40px 0 0 50px;

       li {
         margin-bottom: 28px;
         &:last-child {margin-bottom: 0;}
         h4 {
           margin-bottom: 10px;
           font: 16px $lr, sans-serif;
         }
         div.under-h4 {
           align-items: center;
         }
         div.line {
           height: 6px;
           flex-basis: 240px;
           background: $line;
           span.seventy-five {width: 60%!important;}
           span.fifty-five {width: 45%!important;}
           span.white-line {
             display: inline-block;
             height: 100%;
             width: 80%;
             background: $w;
           }
           span.ball {
             display: inline-block;
             padding: 2px;
             align-self: center;
             border: 1px solid $w;
             border-radius: 50%;
             span {
               display: block;
               width: 10px;
               height: 10px;
               background: $w;
               border-radius: 50%;
             }
           }
         }
         p {
           display: inline-block;
           margin-left: 7px;
         }
       }
     }
   }
 }

 div.languages {
   margin-left: 48px;
     article {
     width: 262px;
     // margin-bottom: 11px;
     padding: 43px 0 38px 0;
     background: $lang;
     &:nth-child(2) {margin: 11px 0;}
     h2 {
       display: block;
       margin-bottom: 23px;
       text-align: center;
       text-transform: capitalize;
       font: bold 26px $lr, sans-serif;
       color: $pers;
     }
     div.stars {
       display: block;
       text-align: center;
       i {
         font-size: 30px;
         color: $nav;
       }
     }
   }
 }
/*SECTION MY SKILLS END*/

/*SECTION PORTFOLIO START*/
section#portfolio {
  padding: 150px 0;
  border-top: 1px solid $bdeduc;
  border-bottom: 1px solid $bdeduc;
  h1 {
    text-align: center;
    @include h1;
  }
div.wrapp-site-img {
  display: block;
    ul.main-port {
      margin-bottom: 83px;
      &:nth-child(2) {
        height: 0;
        overflow: hidden;
        transition: height 0.8s ease-in-out;
      }
    flex-wrap: wrap;
   li {
     display: block;
     &.first-site-img {margin-top: 48px;}
     &.second-site-img, &.third-site-img {height: 560px;}
     &.second-site-img, &.first-site-img {margin-bottom: 20px;}
     &.five-site-img {margin-top: 100px;}
     &:nth-child(2n) {margin-right: 20px;}
     a {
       position: relative;
       display: block;
       picture {
         display: block;
       }
       div {
         position: absolute;
         top: 0;
         left: 0;
         flex-direction: column;
         justify-content: flex-end;
         width: 100%;
         height: 100%;
         padding: 0 0 92px 47px;
         background: rgba($nav, 0.7);
         color: $w;
         opacity: 0;
         transition: opacity 0.6s ease;
         &:hover {opacity: 1;}
         p.app-design {
           margin-bottom: 24px;
           text-transform: capitalize;
           font: bold 30px $lr, sans-serif;
         }
         p {
           font: 18px $lr;
         }
       }
      }
    }
   }
  }
}
button#see-more {
  display: block;
  margin: 0 auto;
  padding: 17px 34px;
  background: $nav;
  text-transform: capitalize;
  font: bold 18px $js;
  color: $w;
  border-radius: 3px;
  cursor: pointer;
}
/*SECTION PORTFOLIO END*/

/*SECTION GET IN TOUCH START*/
section#get-in-touch {
  padding: 151px 0;
  background: $bd;
    h1 {
    margin-bottom: 95px;
    text-align: center;
    @include h1;
  }
}

section.form-and-contacts {
  flex-wrap: wrap;
  div.form {
    margin-right: 70px;
    flex-basis: 570px;
    flex-direction: column;
    h2 {
     @include conth2 ;
    }
    form {
      flex-direction: column;
      input[type="text"],
      input[type="email"] {
        margin-bottom: 20px;
        padding: 25px 0 24px 18px;
        border: 1px solid $inpbd;
        outline: none;
        border-radius: 2px;
      }
      textarea {
        height: 159px;
        padding: 20px 0 0 16px;
      }
      input[type="submit"] {
        margin-top: 18px;
        padding: 21px 45px;
        font: 24px $lr, sans-serif;
        color: $w;
        background: $nav;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
      }
  }

  div.contacts {
    flex-basis: 487px;
    flex-direction: column;
    h2{@include conth2;}
    ul.address {
      li {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        margin-bottom: 35px;
        &:last-child {margin-bottom: 0;}
        i {
          display: inline-block;
          margin-right: 30px;
          align-self: center;
          background: url(../img/social-inf-icons.png) no-repeat;
          &.home {
            width: 20px;
            height: 18px;
            background-position: -214px 0;
          }
          &.email {
            width: 22px;
            height: 18px;
            background-position: -255px 0;
          }
          &.phone {
            width: 20px;
            height: 20px;
            background-position: -234px 0;
          }
        }
        p {
          font: 16px/25px $lr, sans-serif;
        }
      }
    }
    div.map {margin-top: 54px;}
  }
}
/*SECTION GET IN TOUCH END*/
/*MAIN END*/
